In [269]:
import pandas as pd

train_df = pd.read_csv("../data/processed_data/train.csv")

test_df = pd.read_csv("../data/processed_data/test.csv")

/var/folders/9w/2pytp4_s6bj5_ff4zz3vl8ph0000gn/T/ipykernel_26973/3933672298.py:5: DtypeWarning: Columns (7,8,9,18) have mixed types. Specify dtype option on import or set low_memory=False.
  test_df = pd.read_csv("../data/processed_data/test.csv")

In [270]:
train_df.columns

Index(['time', 'cog', 'sog', 'rot', 'heading', 'navstat', 'etaRaw', 'latitude',
       'longitude', 'vesselId', 'portId', 'latitude_1_step_ago',
       'longitude_1_step_ago', 'time_position_1_step_ago',
       'latitude_2_steps_ago', 'longitude_2_steps_ago',
       'time_position_2_steps_ago', 'week_of_the_year', 'day_of_the_year',
       'lat_change_2_to_1_steps', 'lon_change_2_to_1_steps',
       'avg_lat_change_1_step', 'avg_lat_change_2_steps',
       'avg_lon_change_1_step', 'avg_lon_change_2_steps', 'vesselType_14.0',
       'vesselType_21.0', 'vesselType_83.0', 'enginePower', 'CEU', 'GT',
       'breadth', 'length', 'DWT', 'maxSpeed'],
      dtype='object')

In [271]:
train_df = train_df.drop(columns=['sog', 'rot', 'heading', 'navstat', 'etaRaw', 'portId', 'vesselType_14.0',
       'vesselType_21.0', 'vesselType_83.0', 'breadth', 'length', 'day_of_the_year', 'week_of_the_year', 'avg_lon_change_2_steps', 'avg_lat_change_2_steps', 'time_position_2_steps_ago'])

In [272]:
test_df.columns

Index(['time', 'week_of_the_year', 'day_of_the_year', 'avg_lat_change_1_step',
       'avg_lat_change_2_steps', 'avg_lon_change_1_step',
       'avg_lon_change_2_steps', 'vesselType_14.0', 'vesselType_21.0',
       'vesselType_83.0', 'enginePower', 'CEU', 'GT', 'breadth', 'length',
       'DWT', 'maxSpeed', 'cog', 'vesselId', 'scaling_factor', 'ID'],
      dtype='object')

In [273]:
test_df = test_df.drop(columns=['scaling_factor', 'vesselType_14.0',
       'vesselType_21.0', 'vesselType_83.0', 'breadth', 'length', 'day_of_the_year', 'week_of_the_year', 'avg_lon_change_2_steps', 'avg_lat_change_2_steps'])

In [274]:
train_X = train_df.drop(columns=['latitude', 'longitude'])
train_y = train_df[['latitude', 'longitude']]

In [275]:
train_X.head()

,time,cog,vesselId,latitude_1_step_ago,longitude_1_step_ago,time_position_1_step_ago,latitude_2_steps_ago,longitude_2_steps_ago,lat_change_2_to_1_steps,lon_change_2_to_1_steps,avg_lat_change_1_step,avg_lon_change_1_step,enginePower,CEU,GT,DWT,maxSpeed
0,0.031663,308.1,61e9f38eb937134a3c4bfd8b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.073175,-0.178895,0.365826,0.764706,0.545107,0.170524,0.287879
1,0.031707,307.6,61e9f38eb937134a3c4bfd8b,7.50361,77.58340,0.031663,NaN,NaN,NaN,NaN,0.073175,-0.178895,0.365826,0.764706,0.545107,0.170524,0.287879
2,0.031757,306.8,61e9f38eb937134a3c4bfd8b,7.57302,77.49505,0.031707,7.50361,77.58340,0.06941,-0.08835,0.073175,-0.178895,0.365826,0.764706,0.545107,0.170524,0.287879
3,0.031798,307.9,61e9f38eb937134a3c4bfd8b,7.65043,77.39404,0.031757,7.57302,77.49505,0.07741,-0.10101,0.073175,-0.178895,0.365826,0.764706,0.545107,0.170524,0.287879
4,0.031838,307.0,61e9f38eb937134a3c4bfd8b,7.71275,77.31394,0.031798,7.65043,77.39404,0.06232,-0.08010,0.073175,-0.178895,0.365826,0.764706,0.545107,0.170524,0.287879

In [276]:
train_y.head()

   latitude  longitude
0   7.50361   77.58340
1   7.57302   77.49505
2   7.65043   77.39404
3   7.71275   77.31394
4   7.77191   77.23585

In [277]:
test_df.head()

,time,avg_lat_change_1_step,avg_lon_change_1_step,enginePower,CEU,GT,DWT,maxSpeed,cog,vesselId,ID
0,0.349750,-0.000462,-0.001555,0.368696,0.576706,0.415611,0.086343,0.837412,NaN,NaN,NaN
1,0.349802,-0.000462,-0.001555,0.368696,0.576706,0.415611,0.086343,0.837412,NaN,NaN,NaN
2,0.349904,-0.000462,-0.001555,0.368696,0.576706,0.415611,0.086343,0.837412,NaN,NaN,NaN
3,0.349938,-0.000462,-0.001555,0.368696,0.576706,0.415611,0.086343,0.837412,NaN,NaN,NaN
4,0.349961,-0.000462,-0.001555,0.368696,0.576706,0.415611,0.086343,0.837412,NaN,NaN,NaN

In [278]:
train_X.to_csv('../data/processed_data/train_X.csv', index=False)
train_y.to_csv('../data/processed_data/train_y.csv', index=False)
test_df.to_csv('../data/processed_data/test_X.csv', index=False)